:root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.section {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  min-height: 25vh;
  /* border: 1px solid #80808050; */

  padding: 50px;
}

.about {
  background-color: #dd7373;
  border-top: 6px solid black;
}

.projects {
  background-color: #3b3561;
}

.experience {
  background-color: #ead94c;
}

.contact {
  background-color: #51a3a3;
  border-bottom: 50px solid black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.instructions-inner {
  max-width: 500px;
}
.terminal {
  background-color: var(--primary-color);
  padding: 0px 5px;
  border: 1px solid white;
}

/* App.css or a separate CSS file */
.scrollable-container {
  height: 40svh; /* Adjust the height as needed */
  padding: 15px;
  background-color: black;
  width: 100vw;
  overflow-y: scroll;
}

.titles {
  /* background-color: rgb(239, 216, 174); Your hex color */
}

.header {
  position: fixed;
  background-color: #3b3561;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  border-bottom: 3px solid black;
}

/* .copy-button {
  padding: 2px;
  background-color: white;
  border: 1px solid gray;
} */

.socials {
  position: fixed;
  bottom: 1rem;
  left: 0.5rem;
}

.titles {
  color: black;
  font-weight: 900;
  font-size: 1.3rem;
  text-align: right;
}

.socials img:hover {
  background-color: transparent;
}

.socials img {
  padding: 5px;
  margin: 2px;
  width: 2rem;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}

#theme-button {
  position: fixed;
  top: 30px;
  right: 0px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.spin {
    animation: logo-spin infinite 20s linear;
  }
}
