@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background-image: url("/pepe.png");
  background-size: 100vh; */
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Roboto Mono", "DejaVu Sans Mono", "Consolas", monospace;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  /* max-width: 800px; */
  justify-content: center;
  min-height: 100svh;
  opacity: 0.95;
  /* min-width: 400px; */
}

[data-theme="dark"] {
  --background-color: #000000;
  --primary-color: #ffffff;
  --secondary-color: #808080;
  --accent-1-color: #bb93e0;
  --accent-2-color: #e2c2ff;
  --neutral-1-color: #111111;
  --neutral-2-color: #050505;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #808080;
  --accent-1-color: #ffc458;
  --accent-2-color: #ffa500;
  --neutral-1-color: #ececec;
  --neutral-2-color: #fefefe;
}

#topleft {
  font-family: "Roboto Mono", "DejaVu Sans Mono", "Consolas", monospace;
}

svg path {
  /* fill: var(--primary-color); */
  border: 1px solid var(--primary-color);
}

html {
  background-color: var(--background-color);
  color: var(--primary-color);
}

body {
  /* transition: background-color 1s ease, color 1s ease; */
  background-color: var(--background-color);
  color: var(--primary-color);
  /* margin-left: 40px; */
  /* background-image: url("cherrydub.svg");
  background-size: cover; */
  /* border: 1px solid green; */
  /* margin-right: 10px; */
  /* border: 3px solid pink; */
}

.main-sections {
  margin-left: 40px;
  max-width: 800px;
}

.App {
  margin-top: 35px;
  font-size: 0.7rem;
}

h1 {
  font-size: 0.9rem;
}

button {
  padding: 0.05em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  color: var(--accent-2-color);
  /* background-color: var(--secondary-color); */
}

#contact-button {
  background-color: var(--secondary-color);
  /* opacity: 50%; */
  /* background-color: var(--secondary-color); */
}

#contact-button:hover {
  opacity: 100%;
  background-color: var(--accent-2-color);
  color: var(--background-color);
  /* background-color: pink; */
  /* background-color: var(--secondary-color); */
}

a,
.link {
  font-weight: 500;
  color: var(--secondary-color);
  /* text-decoration: inherit; */
}
a:hover,
.link:hover {
  color: var(--primary-color);
}

i {
  font-size: 1.5rem;
}

.about-card svg:hover {
  fill: transparent;
}

input,
textarea {
  background-color: var(--background-color);
  color: var(--primary-color);
  height: 1.5rem;
}
